<div id="submit-form" class="{{if  showForm "show-form"}}">
  <form>
      <div class="form-group">
        <label>Title</label>
        
        {{input value=IssueTitle placeholder="Issue title"}}
    
      </div>
      
      <div class="form-group">
      
        <label>Owner</label>
        {{input  value=IssueOwner placeholder="Issue Description"}}
      
      </div>
    
      <div class="form-group">
        <label>Description</label>
    
        {{textarea  class="form-control"  value=IssueDescription placeholder="Owner"}}
    
      </div>
    
    
    
    
      <button type="submit" {{action "submit"}} class="btn btn-primary">Submit</button>
    
    
    
    </form>
  
  </div>

